@import "tailwindcss";

:root {
  --primary-color: #220a7b;
}

.theme {
  --primary-color: #220a7b;
}


@layer base {

  *,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}


#app {
  background-color: whitesmoke;
  height: 100vh;
}

.link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}