@import "tailwindcss";

:root {
  --primary-color: #220a7b;
  --secondary-color: #fbbf24;

  --hover-primary-color: #2500b7;
}

.theme {
  --primary-color: #220a7b;
}


@layer base {

  *,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html,
main  {
  height: 100%;
}

body {
  background-color: whitesmoke;
  height: 100%;
}